---
import type { HTMLAttributes } from "astro/types";
import { getRelativeLocaleUrl } from "astro:i18n";
import Socials from "./Socials.astro";
import { useTranslations } from "@/i18n";
import config from "@/config";

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;

const locale = Astro.currentLocale ?? config.site.lang;
const t = useTranslations(locale);
const currentYear = new Date().getFullYear();
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class="border-border flex flex-col items-center justify-between border-t py-6 sm:flex-row-reverse sm:py-4"
  >
    <Socials />
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
      <span>{t.footer.copyright} &#169; {currentYear}</span>
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <span>{t.footer.allRightsReserved}</span>
    </div>
    <nav class="flex gap-4 text-sm">
      <a
        class="hover:text-accent"
        href={getRelativeLocaleUrl(locale, "privacy-policy")}
      >
        Privacy Policy
      </a>
      <a
        class="hover:text-accent"
        href={getRelativeLocaleUrl(locale, "imprint")}
      >
        Imprint
      </a>
    </nav>
  </div>
</footer>
